html, body {
    padding: 0;
    margin: 0;
}

.map-heading {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.map-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#us-map {
    height: 90vh;
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
}

.animation-wrapper {
    display: none;
}

path, circle {
    stroke: #999999;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#path67 {
    stroke: #666666;
    stroke-width: 4px;
    cursor: default;
}

path:hover, circle:hover {
		cursor: pointer;
		transition: 0.75s stroke;
		stroke: black;
		stroke-width: 5px;
}

#state {
    margin-left: 1%;
    margin-top: 1%;
}

#state-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 48px;
    position: absolute;
}

.map-legend {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.map-legend > div {
    text-align: center;
}

.map-legend-label {
    width: 100%;
}

.map-legend-label > p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.map-legend-label > #left-legend-label {
    float: left;
}

.map-legend-label > #right-legend-label {
    float: right;
}

td {
    font-family: 'Open Sans', 400;
}

table {
    display: none;
} 

.nation div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.scores div {
    font: 10px sans-serif;
    background-color: pink;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.state div {
    font: 10px sans-serif;
    background-color: green;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
<<<<<<< HEAD

.ss div {
    font: 10px sans-serif;
    background-color: red;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
=======
>>>>>>> 39f53e124f3b1eff9d61119a92ae866ca112bc7f
